<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>직원 상세 조회</title>
</head>
<body>
    <h1 style="color: hotpink">🙆‍♀️직원 상세조회 페이지🙆‍♀️</h1>

    <table border="1px solid">
        <tr>
            <th>사원번호</th>
            <th>사원이름</th>
            <th>주민번호</th>
            <th>이메일</th>
            <th>휴대폰</th>
            <th>부서코드</th>
            <th>직급코드</th>
            <th>급여등급</th>
            <th>급여</th>
            <th>보너스율</th>
            <th>관리자사번</th>
            <th>입사일</th>
            <th>퇴직일</th>
            <th>퇴직여부</th>
        </tr>
        <tr>
            <td th:text="${employeeEmpId.empId}"></td>
            <td th:text="${employeeEmpId.empName}"></td>
            <td th:text="${employeeEmpId.empNo}"></td>
            <td th:text="${employeeEmpId.email}"></td>
            <td th:text="${employeeEmpId.phone}"></td>
            <td th:text="${employeeEmpId.deptCode}"></td>
            <td th:text="${employeeEmpId.jobCode}"></td>
            <td th:text="${employeeEmpId.salLevel}"></td>
            <td th:text="${employeeEmpId.salary}"></td>
            <td th:text="${employeeEmpId.bonus}"></td>
            <td th:text="${employeeEmpId.managerId}"></td>
            <td th:text="${employeeEmpId.hireDate}"></td>
            <td th:text="${employeeEmpId.entDate}"></td>
            <td th:text="${employeeEmpId.entYn}"></td>
        </tr>
    </table>
</body>
</html>