<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>메뉴 상세조회</title>
</head>
<body>
<table border="1px solid">
    <tr>
        <th>메뉴번호</th>
        <th>메뉴이름</th>
        <th>메뉴가격</th>
        <th>카테고리</th>
        <th>판매여부</th>
    </tr>
    <tr>
        <td th:text="${menu.menuCode}"></td>
        <td th:text="${menu.menuName}"></td>
        <td th:text="${menu.menuPrice}"></td>
        <td th:text="${menu.categoryCode}"></td>
        <td th:text="${menu.orderableStatus}"></td>
    </tr>
</table>
<a th:href="@{/menu/detail/update/{menuCode}(menuCode=${menu.menuCode})}">수정</a>
<a th:href="@{/menu/detail/delete/{menuCode}(menuCode=${menu.menuCode})}">삭제</a>
</body>
</html>