<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>메인화면</title>
</head>
<body>
    <h1 style="text-align: center; color: brown">🤢하이미디어 레스토랑🤢</h1>
<!--    <button onclick="location.href='/menu/13'">특정 메뉴 목록 보기</button>-->
    <button onclick="location.href='/menu/list'">전체 메뉴 조회 버튼</button>
    <!-- 기존에 존재하는 like,count 이런거를 쓰는메소드 -->
    <button onclick="location.href='/menu/querymethod'">쿼리메소드 버튼</button>
    <button onclick="location.href='/menu/regist'">메뉴 등록</button>
</body>
</html>