<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>메뉴 수정</title>
</head>
<body>
    <h1 style="color: hotpink">🍴메뉴 수정🍴</h1>
    <form action="/menu/modify" method="post">
        <label>수정할 메뉴 번호 : </label>
        <input type="number" name="menuCode">
        <label>수정할 메뉴 이름 : </label>
        <input type="text" name="menuName">
        <input type="submit" value="수정">
    </form>
</body>
</html>